body {
    font-family: Arial;
    margin: 0;
}
h2 {
    font-size: 6lvh;
    color: blue;
}

nav {
    display: flex;
    flex-direction: row;
    height: 7lvh;
    gap: 4lvh;
    align-items: center;
    background: linear-gradient(grey , white);
    padding: 1lvh;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    bottom: 0;
    background-color: rgb(0, 64, 94);
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 4lvh;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration:underline;
    color:#ffffff;
}

.container {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    margin: 1lvh;
    justify-content: space-between;
    box-shadow: 0 1lvh 0 1lvh;
}

.box {
    background: #3498db;
    color: white;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    max-width: 40lvh;
}

.carouselle {
    flex-direction: row;
    display: flex;
    padding: 1lvh;
    background-image: url(https://images7.alphacoders.com/326/thumb-1920-326099.jpg);
}

.group {
    will-change: transform; /* indique une future animation */
    animation: scrolling 20s linear infinite;
    flex-direction: row;
    display: flex;
    height: 40lvh;
    padding-right: 20px;
    gap: 5lvh;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}





