body {
    font-family: Arial;
    margin: 0;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
h2 {
    font-size: 6lvh;
    color: blue;
}

nav {
    display: flex;
    flex-direction: row;
    height: 7lvh;
    gap: 4lvh;
    align-items: center;
    background: linear-gradient(grey , white);
    padding: 1lvh;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10lvh;
}
footer {
    bottom: 0;
    background-color: rgb(0, 64, 94);
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 4lvh;
}

.linkFooter {
    gap: 5lvh;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration:underline;
    color:#ffffff;
}

.container {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    margin: 1lvh;
    justify-content: space-between;
}

.box {
    background: #3498db;
    color: white;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    max-width: 40lvh;
    box-shadow: 0.5lvh 0.5lvh 0.4lvh #333;
}

.carouselle {
    flex-direction: row;
    display: flex;
    padding: 1lvh;
    background-image: url(https://images7.alphacoders.com/326/thumb-1920-326099.jpg);
    overflow: hidden;
}

.group {
    will-change: transform; /* indique une future animation */
    animation: scrolling 20s linear infinite;
    flex-direction: row;
    display: flex;
    height: 40lvh;
    padding-right: 20px;
    gap: 5lvh;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.mini_sayaka{
    position: absolute;
    margin-top: 25lvh;
    margin-left: 80lvw;
    width: 20lvh;
}

.avis{
    align-items: center;
    display: flex;
}

article{
    background-color: #3498db;
    box-shadow: 0.5lvh 0.5lvh 0.4lvh #333;
    margin: 0.5dvh;
    font-size: 3lvh;
    width: 95dvw;
    max-width: 150lvh;
}

.titre_avis{
    display: flex;
    background-color: yellowgreen;
    font-size: 2.5lvh;
}

.contenu_avis{
    margin: 0.5dvh;
}
.photo_profile{
    height: 3dvh;
    
}


/* Smartphone */
@media (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: row;
        height: 10lvh;
        gap: 1lvh;
        align-items: center;
        background: linear-gradient(grey , white);
        padding: 1lvh;
        width: 100%;
    }
    h2 {
        font-size: 2.7lvh;
        color: blue;
    }
    .box {
        background: #3498db;
        color: white;
        padding: 20px;
        margin: 5px;
        font-size: 2lvh;
        max-width: 40lvh;
        box-shadow: 0.5lvh 0.5lvh 0.4lvh #333;
        overflow: hidden;
    }
    .container {
        flex-direction: column;
        align-content: center;
    }
}













