body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 6lvh;
    color: blue;
}

nav {
    display: flex;
    flex-direction: row;
    height: 7lvh;
    gap: 4lvh;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

.carouselle {
    flex-direction: row;
    display: flex;
}

.group {
    will-change: transform; /* indique une future animation */
    animation: scrolling 20s linear infinite;
    flex-direction: row;
    display: flex;
    height: 40lvh;
    padding-right: 20px;
    gap: 5lvh;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}




















